<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>家长主页</title>
    <!--%@include file="../common/head_css.jsp" %-->
    <#include "common/head_css.html" />
</head>

<body>

<!--%@include file="../common/parent_navbar.jsp" %-->
<#include "common/parent_navbar.html" />

<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">SideBar</button>
            </p>
            <div class="jumbotron">
                <h1>StudentSys</h1>
                <p>关于大学生成长轨迹,先进行如下分类:</p>
                <p style="text-indent: 2em">首先,大学生的健康成长大致分成三大方面:生活方面,知识方面,心灵方面.</p>
                <p style="text-indent: 2em">其次,按照阶段来可以分为四个阶段:初始阶段,积累阶段,拓展阶段,应用阶段.</p>
            </div>
            <div class="row">
                <div class="col-xs-6 col-lg-4">
                    <h2>Hadoop集群搭建</h2>
                    <p>Hadoop,Zookeeper,Flink等集群配置, 大数据集群配置.创建hadoop用户并配置sudo
                        为了各软件管理方便,一律放在/home/hadoop目录下..</p>
                    <p><a class="btn btn-default" href="https://huija.github.io/2019/01/10/BigData-cluster/" role="button">点击查看 &raquo;</a></p>
                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h2>Golang新手易踩的50个坑..</h2>
                    <p>Go 是一门简单有趣的编程语言，与其他语言一样，在使用时不免会遇到很多坑，不过它们大多不是 Go 本身的设计缺陷。</p>
                    <p><a class="btn btn-default" href="https://huija.github.io/2019/01/15/go-misses/" role="button">点击查看 &raquo;</a></p>
                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h2>AbstractFactory设计模式</h2>
                    <p>抽象工厂, 是对于抽象零件的一个统筹提供, 调用者将抽象零件(抽象类)组装成抽象产品(抽象类)...</p>
                    <p><a class="btn btn-default" href="https://huija.github.io/2019/02/23/abfactory-design-pattern/" role="button">点击查看 &raquo;</a></p>
                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h2>linux常用命令合集</h2>
                    <p>Linux现在基本上属于程序员的标配技能了,而Linux其中,最核心,最值得学习的就是shell脚本及相关的bash命令了,这里结合自己的平时的学习和工作经历,记录下常用的Linux命令.</p>
                    <p><a class="btn btn-default" href="https://huija.github.io/2018/12/07/linux-commands/" role="button">点击查看 &raquo;</a></p>
                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h2>Singleton设计模式</h2>
                    <p>从个人工作量来说,选用枚举好,从理解单例来说,从普通,到懒加载,到双重锁是一种过程,最终理解了JVM类加载机制后,最后一种懒加载方法,的确很巧妙... </p>
                    <p><a class="btn btn-default" href="https://huija.github.io/2017/11/12/singleton-design-pattern/" role="button">点击查看 &raquo;</a></p>
                </div><!--/.col-xs-6.col-lg-4-->
                <div class="col-xs-6 col-lg-4">
                    <h2>线程的生命周期</h2>
                    <p>线程生命周期状态(6个):ctrl+shift+t搜索Thread查看源码,我们会发现Thread类里面有一个枚举类State,这里列举了线程的生命周期的6个状态.</p>
                    <p><a class="btn btn-default" href="https://huija.github.io/2017/10/12/thread-life-cycle/" role="button">点击查看 &raquo;</a></p>
                </div><!--/.col-xs-6.col-lg-4-->
            </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->

        <!--%@include file="../common/parent_sidebar.jsp" %-->
        <#include "common/parent_sidebar.html"/>
    </div><!--/row-->

    <!--%@include file="../common/foot.jsp" %-->
    <#include "common/foot.html" />
</div><!--/.container-->

<!--%@include file="../common/end_js.jsp" %-->
<#include "common/end_js.html" />
</body>

</html>
