<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>修改密码</title>
    <!--%@include file="../common/head_css.jsp" %-->
    <#include "common/head_css.html" />
</head>

<body class="bg-danger">
<div class="container"> 
    <form class="form-signin" name="form" action="${request.contextPath}/user/passwd-execution" method="post">
        <div class="row" style="margin-top:30px;">
            <div class="col-md-6" style="border-right:1px solid #ddd;">
                <div class="well col-md-10">
                    <h3>密码修改</h3>
                    <div class="input-group input-group-md">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"
                                                           aria-hidden="true"></i></span>
                        <input type="password" class="form-control" placeholder="新密码" name="passwd1" required autofocus>
                    </div>
                    <div class="input-group input-group-md">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" placeholder="密码确认" name="passwd2" required>
                    </div>
                    <#if PasswdError == 1>
                        <span style="color:#f44336;">请确认你是否输入新的密码而且两次密码一致!</span>
                    </#if>
                    <button type="submit" class="btn btn-success btn-block">
                        修改
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <h3>
                    密码修改，请修改默认密码并牢记。
                </h3>
                <ul>
                    <li>学生初始密码为<em>now888</em>，登录后请及时修改密码</li>
                    <li>老师初始密码为<em>now888</em>，登录后请及时修改密码</li>
                    <li>家长初始密码为<em>now888</em>，登录后请及时修改密码</li>
                </ul>
            </div>
        </div>
    </form>

</div>
  
<!--%@include file="../common/end_js.jsp" %-->
<#include "common/end_js.html" />
</body>

</html>
